*{
    margin:0 ;
    padding: 0;
    font-family: Manrope;
    font-size: 13px;
}
body{
    background:  hsl(210, 46%, 95%);
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
svg path{
    fill:currentColor;
}
.shareIcon{
    color:white;}
.contentDiv{
height: auto;
 background: white;
 width: 400px;
 padding: 1.390rem ;
 border-radius:0 0.5rem 0.5rem 0;
 box-shadow:  5px 0 10px rgba(0, 0, 0, 0.5);
}
#Img{
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: 5px 0 10px;
}
h1{
   margin: 5%;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
p{
 margin: 5%;
 color:hsl(214, 17%, 51%);
 font-weight: 400;
}

#profileImg{
    border-radius: 50%;
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.date{
    color:hsl(212, 23%, 69%);
}
.michelle{
    color:hsl(217, 19%, 35%);
}
.parentMichelle{
    display: flex;
    background: rgb(255, 255, 255);
    
}
.michelleInfo{
    width: 120px;
    margin-right: 40%;

}


#Faceb,#pinterest,#twitter{
margin-left: 15%;
}
.shareSpan{
    margin-right: 1rem;
    color: white;
    
}
.shareIcon{
    padding: 0.5rem;
    height: 15px;
    margin-bottom: 5%;
    border-radius: 50%;
    
    background: hsl(210, 46%, 95%);
}

.shareIcon:hover {
    background: hsl(217, 19%, 35%);
}
.shareDiv{
 padding: 1rem;
 background: hsl(217, 19%, 35%);
 display: flex;
 align-items: center;
 width: 200px;
 position: absolute;
 top:45%;
 left: 65%;
 border-radius: 0.5rem;
 box-shadow: 0 0 2px ;
}
.triangleDiv{
    position: absolute;
    top: 85%;
    left:45%;
    width: 1rem;
    height: 1rem;
    background: hsl(217, 19%, 35%);
    transform: rotateY(0deg) rotate(45deg);
}
@media screen and (max-width:768px){
    section{
        height: 100vh;
        flex-direction: column ;
        
    }
    .contentDiv{
        width: 297px ;
        margin-top: 0%;
        border-radius: 0 0 0.5rem 0.5rem;
        box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    }
    #Img{
        width: 330px;
        height:auto;
        border-radius: 0.5rem 0.5rem 0 0;
        box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    }
    .shareDiv{
        top:auto;
        left: 9.8%;
        width: 74%;
        margin-top: 0.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        position: absolute;
        height: 40px;
    }
    .michelleInfo{
    margin-right: 20%;
    margin-top: 0.5rem;
    }
    .triangleDiv{
        
        top: 70%;
        width: 1rem;
        height: 1rem;
        background: hsl(217, 19%, 35%);
        transform: rotateY(0deg) rotate(90deg);
    }
    .shareIcon{
        padding: 0.5rem;
        height: 15px;
        margin-top: 5%;
        left: 75%;
        position: absolute;
        border-radius: 50%;
        background: hsl(210, 46%, 95%);
    }
    
    .shareIcon:hover {
        background: hsl(217, 19%, 35%);
    }
      
    
};
